<% if obj.errors.any? %>
    <div class="container">
        <div class="row signup-form">
            <div class="col s12 m12 l12">
                <div class="card-panel grey darken-2">
                    <h6 class="white-text"><%= obj.errors.full_messages[0]%></h6>
                </div>
            </div>
        </div>
    </div>
<% end %>