<h1>List of courses</h1>

<ul>
  <li>Code: COMP6114</li>
  <li>Name: Web Programming</li>
  <li>Description: Students can learn the web</li>
</ul>
<ul>
  <li>Code: COMP6115</li>
  <li>Name: Pattern Software Design</li>
  <li>Description: Students can learn the design pattern</li>
</ul>